DB_NAME=kittygram
DB_USER=kittygram_user
DB_PASSWORD=kittygram_password
DB_HOST=db
DB_PORT=5432
SECRET_KEY=django-insecure-key-for-example
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,your_server_ip
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=kittygram_password
POSTGRES_DB=kittygram
